body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: black;
  color: white;
  font-family: monospace;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure the content takes full available width */
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px;
  font-family: monospace;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.back-button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

h1 {
  font-family: monospace;
  color: white;
}

input, button, .buttons {
  margin: 5px;
}

#canvas {
  border: 1px solid white;
  margin-top: 20px;
  box-shadow: 2px 2px 6px white;
}

button {
  background-color: black;
  color: white;
  border: 2px solid white;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  transition: opacity 0.3s, background-color 0.3s, color 0.3s;
  font-family: monospace;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(255, 255, 255, 1);
}

button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

button:active {
  opacity: 0.7;
}

.buttons { 
  display: flex;
  justify-content: center;
  gap: 10px; 
}