body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: black;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#canvas {
  border: 1px solid white;
  margin-top: 20px;
  box-shadow: 2px 2px 6px white;
}

.inputN {
  width: 295px; 
  height: 25px; 
  font-size: 14px;
  margin: 5px;
}

button {
  background-color: black;
  color: white;
  border: 2px solid white;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  transition: opacity 0.3s, background-color 0.3s, color 0.3s;
  font-family: monospace;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(255, 255, 255, 1);
  margin: 5px;
}

button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

button:active {
  opacity: 0.7;
}